/* line 1, ../../../app/assets/stylesheets/mobile/_icons.scss */
.icon {
  display: inline-block;
}

/* line 4, ../../../app/assets/stylesheets/mobile/_icons.scss */
.allicon-bg, .pie-icon, .missing, .mark, .mark2, .ling, .icon-nav {
  background: url(/assets/mobile/allbg_icon.png) no-repeat;
  background-size: 50px 285px;
}

/* line 8, ../../../app/assets/stylesheets/mobile/_icons.scss */
.icon-volume {
  width: 15px;
  display: inline;
  padding: 0 9px;
  background-position: 0px -85px;
  background-size: 35px 200px;
}

/* line 16, ../../../app/assets/stylesheets/mobile/_icons.scss */
.icon-lingdang, .icon-lingdang-disable {
  width: 15px;
  height: 15px;
  background-position: 0px -156px;
  background-size: 35px 200px;
}

/* line 22, ../../../app/assets/stylesheets/mobile/_icons.scss */
.icon-lingdang-disable {
  background: url(/assets/mobile/smallbell-icon.png) no-repeat 50% 50%;
  background-size: 18px 18px;
}

/* line 27, ../../../app/assets/stylesheets/mobile/_icons.scss */
.icon-gantanhao {
  width: 15px;
  height: 15px;
  background-position: 0px -131px;
  background-size: 35px 200px;
}

/* line 33, ../../../app/assets/stylesheets/mobile/_icons.scss */
.icon-gantanhao2 {
  width: 15px;
  height: 15px;
  background-position: -17px -131px;
  background-size: 35px 200px;
}

/* line 39, ../../../app/assets/stylesheets/mobile/_icons.scss */
.gantanhao2 {
  width: 15px;
  height: 15px;
  background-position: -20px -131px;
  background-size: 35px 200px;
}

/* line 47, ../../../app/assets/stylesheets/mobile/_icons.scss */
.icon-menu {
  width: 15px;
  height: 15px;
  background-position: -20px -181px;
  background-size: 35px 200px;
}

/* line 53, ../../../app/assets/stylesheets/mobile/_icons.scss */
.icon-book {
  background: url(/assets/mobile/book_icon.png) no-repeat;
  width: 24px;
  height: 29px;
  background-size: 24px 29px;
}
