@charset "UTF-8";
/* line 1, ../../app/assets/stylesheets/reputation.scss */
#content_all {
  min-height: 800px;
}

/* line 2, ../../app/assets/stylesheets/reputation.scss */
.left {
  display: inline;
  float: left;
}

/* line 3, ../../app/assets/stylesheets/reputation.scss */
.right {
  display: inline;
  float: right;
}

/* line 4, ../../app/assets/stylesheets/reputation.scss */
.clear:after {
  display: block;
  content: "";
  clear: both;
}

/* line 5, ../../app/assets/stylesheets/reputation.scss */
.clear {
  zoom: 1;
}

/* line 6, ../../app/assets/stylesheets/reputation.scss */
i {
  font-style: normal;
}

/* line 7, ../../app/assets/stylesheets/reputation.scss */
.hot {
  color: #d82839;
}

/* line 8, ../../app/assets/stylesheets/reputation.scss */
.green_color {
  color: #1fb5ac;
}

/* line 9, ../../app/assets/stylesheets/reputation.scss */
.yellow_color {
  color: #ffb522;
}

/* line 12, ../../app/assets/stylesheets/reputation.scss */
.green {
  background: #1fb5ac;
}
/* line 13, ../../app/assets/stylesheets/reputation.scss */
.green i {
  background-image: url(/assets/reputation/zhengmian.png);
}

/* line 17, ../../app/assets/stylesheets/reputation.scss */
.yellow {
  background: #ffb522;
}
/* line 18, ../../app/assets/stylesheets/reputation.scss */
.yellow i {
  background-image: url(/assets/reputation/zhongxin.png);
}

/* line 22, ../../app/assets/stylesheets/reputation.scss */
.ash {
  background: #d82839;
}
/* line 23, ../../app/assets/stylesheets/reputation.scss */
.ash i {
  background-image: url(/assets/reputation/fumian.png);
}

/* line 27, ../../app/assets/stylesheets/reputation.scss */
.blue {
  background: #049fef;
}
/* line 29, ../../app/assets/stylesheets/reputation.scss */
.blue i {
  background-image: url(/assets/reputation/buqueding.png);
}

/* line 33, ../../app/assets/stylesheets/reputation.scss */
.orangr-color {
  color: #ffb522;
}

/* line 34, ../../app/assets/stylesheets/reputation.scss */
.shallow-color {
  color: #1fb5ac;
}

/* line 35, ../../app/assets/stylesheets/reputation.scss */
.ash-color {
  color: #a7a7a7;
}

/* line 37, ../../app/assets/stylesheets/reputation.scss */
.blue-color {
  color: #049fef;
}

/* line 38, ../../app/assets/stylesheets/reputation.scss */
.color-derive {
  color: #ffb628;
}

/* line 39, ../../app/assets/stylesheets/reputation.scss */
.reputation-prompt {
  border: 1px solid #2680b2;
  padding: 20px;
  margin-bottom: 20px;
}
/* line 43, ../../app/assets/stylesheets/reputation.scss */
.reputation-prompt p {
  margin-bottom: 20px;
}

/* line 47, ../../app/assets/stylesheets/reputation.scss */
.ec_wrap {
  width: 463px;
  height: 230px;
}

/* line 51, ../../app/assets/stylesheets/reputation.scss */
.warning_item {
  padding: 0 20px 20px 20px;
}
/* line 53, ../../app/assets/stylesheets/reputation.scss */
.warning_item p {
  height: 52px;
  line-height: 52px;
  color: #3bbffd;
  font-size: 14px;
}
/* line 59, ../../app/assets/stylesheets/reputation.scss */
.warning_item .warning_con {
  padding: 25px 10px;
  background-color: rgba(255, 255, 255, 0.1);
}
/* line 62, ../../app/assets/stylesheets/reputation.scss */
.warning_item .warning_con li {
  margin-bottom: 28px;
  line-height: 30px;
}
/* line 65, ../../app/assets/stylesheets/reputation.scss */
.warning_item .warning_con li input, .warning_item .warning_con li select {
  height: 30px;
  border: none;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 3px;
  color: #318dbe;
}
/* line 72, ../../app/assets/stylesheets/reputation.scss */
.warning_item .warning_con li input {
  padding: 0 10px;
}
/* line 76, ../../app/assets/stylesheets/reputation.scss */
.warning_item .warning_con li:last-child {
  margin-bottom: 0;
}
/* line 79, ../../app/assets/stylesheets/reputation.scss */
.warning_item .warning_con i {
  background-repeat: no-repeat;
  background-position: center center;
  width: 20px;
  height: 30px;
  float: left;
  margin-right: 10px;
}
/* line 87, ../../app/assets/stylesheets/reputation.scss */
.warning_item .warning_con .icon_baidu {
  background-image: url(/assets/reputation/baidu.png);
}
/* line 90, ../../app/assets/stylesheets/reputation.scss */
.warning_item .warning_con .icon_weibo {
  background-image: url(/assets/reputation/weibp.png);
}
/* line 93, ../../app/assets/stylesheets/reputation.scss */
.warning_item .warning_con .icon_media {
  background-image: url(/assets/reputation/meiti.png);
}
/* line 96, ../../app/assets/stylesheets/reputation.scss */
.warning_item .warning_con .icon_surge {
  background-image: url(/assets/reputation/baozeng.png);
}
/* line 99, ../../app/assets/stylesheets/reputation.scss */
.warning_item .warning_con .icon_damaging {
  background-image: url(/assets/reputation/fumianxixni.png);
}
/* line 102, ../../app/assets/stylesheets/reputation.scss */
.warning_item .warning_con .icon_themeg {
  background-image: url(/assets/reputation/zhutiuyji.png);
}
/* line 105, ../../app/assets/stylesheets/reputation.scss */
.warning_item .warning_con span {
  margin: 0 5px;
}
/* line 108, ../../app/assets/stylesheets/reputation.scss */
.warning_item .warning_con .color_blue {
  color: #3bbffd;
  font-size: 14px;
}
/* line 110, ../../app/assets/stylesheets/reputation.scss */
.warning_item .bg_none {
  background: none;
  padding: 0px;
  padding-top: 20px;
}
/* line 115, ../../app/assets/stylesheets/reputation.scss */
.warning_item .btn-blue {
  padding: 5px 20px;
  border-radius: 5px;
}

/* line 120, ../../app/assets/stylesheets/reputation.scss */
.date_tab {
  height: 27px;
  border: 1px solid #4d6776;
  border-right: none;
  float: left;
}
/* line 125, ../../app/assets/stylesheets/reputation.scss */
.date_tab a {
  border-right: 1px solid #4d6776;
  line-height: 25px;
  color: #fff;
  display: inline-block;
  width: 100px;
  text-align: center;
}
/* line 133, ../../app/assets/stylesheets/reputation.scss */
.date_tab a:hover, .date_tab a.active_tab {
  color: #2b8ac0;
}

/* line 137, ../../app/assets/stylesheets/reputation.scss */
.tab-pane .btn {
  padding: 2px 12px;
}

/* line 138, ../../app/assets/stylesheets/reputation.scss */
.calendar-plug {
  -padding-top: 4px;
}

/* line 139, ../../app/assets/stylesheets/reputation.scss */
.time-width {
  padding: 0px 8px;
  width: 135px;
  height: 25px;
  display: inline-block;
  line-height: 25px;
  color: #666;
}

/* line 140, ../../app/assets/stylesheets/reputation.scss */
.border-color {
  border: 1px solid #e5e5e5;
}

/* line 142, ../../app/assets/stylesheets/reputation.scss */
.tab-content img {
  width: 100%;
}

/* line 143, ../../app/assets/stylesheets/reputation.scss */
.wrap_content {
  margin: 10px 0 0 10px;
}

/*.pagination{display: block!important;text-align: center;margin-bottom: 10px!important;margin: 15px 0px;}*/
/*.pagination span{background-color: #fff;cursor: pointer;padding: 0px 12px; text-align: center;border-radius: 2px;display: inline-block;height: 15px; }*/
/*.pagination span.current{background-color: #5175bd;color: #fff;}*/
/* line 149, ../../app/assets/stylesheets/reputation.scss */
.pagination a {
  line-height: 15px;
  text-decoration: none;
}

/*index css*/
/* line 155, ../../app/assets/stylesheets/reputation.scss */
.panel-body {
  padding: 0px;
}
/* line 157, ../../app/assets/stylesheets/reputation.scss */
.panel-body img {
  width: 100%;
}

/* line 161, ../../app/assets/stylesheets/reputation.scss */
.left-bar {
  width: 340px;
}

/* line 162, ../../app/assets/stylesheets/reputation.scss */
.one-left p {
  text-align: center;
  color: #fff;
  padding-top: 15px;
  font-size: 14px;
}

/* line 164, ../../app/assets/stylesheets/reputation.scss */
.one-right li {
  width: 219px;
  height: 82px;
  display: inline-block;
  float: left;
  margin: 20px 25px 20px 0;
}
/* line 171, ../../app/assets/stylesheets/reputation.scss */
.one-right li:nth-child(2n+0) {
  margin-right: 0px;
}

/* line 175, ../../app/assets/stylesheets/reputation.scss */
.one-right li span {
  line-height: 82px;
}

/* line 176, ../../app/assets/stylesheets/reputation.scss */
.one-right .piece div {
  width: 70px;
  height: 82px;
  line-height: 120px;
  text-align: center;
  color: #fff;
  font-size: 16px;
  border-radius: 3px;
}

/* line 186, ../../app/assets/stylesheets/reputation.scss */
.one-right li .piece i {
  display: inline-block;
  height: 100%;
  width: 100%;
  background-position: center 14px;
  background-repeat: no-repeat;
}

/* line 194, ../../app/assets/stylesheets/reputation.scss */
.right-bar {
  width: 364px;
  height: 132px;
  padding: 16px 27px 26px;
  border-radius: 16px;
  background: #f9f9f9;
}

/* line 195, ../../app/assets/stylesheets/reputation.scss */
.parent-bar .tit-bar {
  font-size: 14px;
}

/* line 196, ../../app/assets/stylesheets/reputation.scss */
.right-bar p {
  text-align: center;
}

/* line 197, ../../app/assets/stylesheets/reputation.scss */
.font-size18 {
  font-size: 18px;
  padding-left: 10px;
}

/* line 198, ../../app/assets/stylesheets/reputation.scss */
.data-parent {
  width: 312px;
  height: 26px;
  border-radius: 13px;
  overflow: hidden;
}

/* line 199, ../../app/assets/stylesheets/reputation.scss */
.data-parent p {
  line-height: 26px;
  color: #fff;
}

/* line 200, ../../app/assets/stylesheets/reputation.scss */
.infor-width {
  width: 200px;
}

/* line 201, ../../app/assets/stylesheets/reputation.scss */
.antistop-width {
  width: 112px;
}

/* line 202, ../../app/assets/stylesheets/reputation.scss */
.picture-tab {
  height: 210px;
}

/* line 204, ../../app/assets/stylesheets/reputation.scss */
.picture-tab span {
  position: absolute;
  color: #fff;
}
/* line 208, ../../app/assets/stylesheets/reputation.scss */
.picture-tab span:nth-child(1) {
  background-color: #fff;
  border-radius: 5px;
  text-align: center;
  width: 116px;
  padding: 5px 0;
  left: 50%;
  top: 50%;
  margin: -24px 0 0 -58px;
}
/* line 217, ../../app/assets/stylesheets/reputation.scss */
.picture-tab span:nth-child(1) p {
  padding: 0px;
  color: #7e7c7d;
}
/* line 222, ../../app/assets/stylesheets/reputation.scss */
.picture-tab span:nth-child(2) {
  left: 0px;
  top: 60px;
}
/* line 226, ../../app/assets/stylesheets/reputation.scss */
.picture-tab span:nth-child(3) {
  right: 0px;
  bottom: 20px;
}

/* line 231, ../../app/assets/stylesheets/reputation.scss */
.warning_right {
  width: 70px;
}
/* line 233, ../../app/assets/stylesheets/reputation.scss */
.warning_right span {
  display: inline-block;
}
/* line 235, ../../app/assets/stylesheets/reputation.scss */
.warning_right span strong {
  font-size: 28px;
  font-weight: normal;
  margin-right: 5px;
}
/* line 241, ../../app/assets/stylesheets/reputation.scss */
.warning_right p {
  color: #7f7b7c;
}

/* line 245, ../../app/assets/stylesheets/reputation.scss */
.home_page_table {
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 0;
}

/* line 250, ../../app/assets/stylesheets/reputation.scss */
.home_page_table td, .home_page_table th {
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
}

/* line 256, ../../app/assets/stylesheets/reputation.scss */
.activeone {
  background: url(/assets/reputation/reputation_bg.png) no-repeat center center;
}

/* line 257, ../../app/assets/stylesheets/reputation.scss */
.activetwo {
  background: url(../assets/yanzhong.png) no-repeat;
}

/* line 258, ../../app/assets/stylesheets/reputation.scss */
.activethree {
  background: url(../assets/yiban.png) no-repeat;
}

/* line 259, ../../app/assets/stylesheets/reputation.scss */
.chara-width {
  width: 314px;
  padding-top: 5px;
}

/* line 260, ../../app/assets/stylesheets/reputation.scss */
.warning_level {
  margin-top: 15px;
  text-align: center;
  font-size: 14px;
}

/*排序表头*/
/* line 266, ../../app/assets/stylesheets/reputation.scss */
.sort-prve {
  background: #fbfbfb;
  -padding: 5px 0;
  border-bottom: none;
}

/* line 267, ../../app/assets/stylesheets/reputation.scss */
.sort-prve .form-inline {
  margin-bottom: 0px;
  padding: 5px 0;
}

/* line 268, ../../app/assets/stylesheets/reputation.scss */
.sort {
  font-size: 12px;
  letter-spacing: 1px;
  margin-left: 10px;
}

/* line 269, ../../app/assets/stylesheets/reputation.scss */
.sort a {
  padding: 3px 10px;
  color: #5c5c5c;
}

/* line 270, ../../app/assets/stylesheets/reputation.scss */
.sort a:hover, .sort a.active {
  text-decoration: none;
  color: #1fb5ac;
}

/* line 271, ../../app/assets/stylesheets/reputation.scss */
.form-inline .margin-left {
  margin-right: 0;
}

/* line 272, ../../app/assets/stylesheets/reputation.scss */
.margin-top {
  margin-top: 3px;
}

/* line 273, ../../app/assets/stylesheets/reputation.scss */
.form-inline div.no-right {
  margin-right: 0;
}

/* line 274, ../../app/assets/stylesheets/reputation.scss */
.margin-left {
  margin-left: 250px;
}

/* line 275, ../../app/assets/stylesheets/reputation.scss */
.cover .table-striped2 thead {
  background: #fff;
}

/* line 276, ../../app/assets/stylesheets/reputation.scss */
.cover .table-striped2 thead th {
  font-weight: bold;
  color: #444444;
}

/*弹窗*/
/* line 278, ../../app/assets/stylesheets/reputation.scss */
.windows {
  width: 550px;
  padding: 20px 10px 20px 20px;
  -border: 1px solid #eaeaea;
  border-radius: 3px;
}

/* line 279, ../../app/assets/stylesheets/reputation.scss */
.windows .win-header {
  height: 26px;
  margin-bottom: 15px;
}

/* line 280, ../../app/assets/stylesheets/reputation.scss */
.windows .win-header .close-style {
  font-size: 20px;
  color: #cbcbcb;
}

/* line 281, ../../app/assets/stylesheets/reputation.scss */
.windows .win-header .close-style:hover {
  text-decoration: none;
}

/* line 282, ../../app/assets/stylesheets/reputation.scss */
.windows .win-body li {
  overflow: hidden;
  margin-bottom: 20px;
  padding-bottom: 1px;
}

/* line 283, ../../app/assets/stylesheets/reputation.scss */
.windows .win-body .left-bar {
  display: inline-block;
  width: 120px;
  height: 26px;
  line-height: 26px;
  text-align: right;
}

/* line 284, ../../app/assets/stylesheets/reputation.scss */
.windows .win-body .r-bar {
  width: 400px;
  min-height: 26px;
  padding: 0;
}

/* line 285, ../../app/assets/stylesheets/reputation.scss */
.win-body .r-bar .text-width {
  width: 200px;
}

/* line 286, ../../app/assets/stylesheets/reputation.scss */
.win-body .min-height {
  height: 26px;
}

/* line 287, ../../app/assets/stylesheets/reputation.scss */
.win-body .textarea-style {
  width: 400px;
  height: 210px;
  border: 1px solid #ccc;
}

/* line 288, ../../app/assets/stylesheets/reputation.scss */
.btn-ash {
  background: #f3f3f3;
  color: #555;
}

/* line 289, ../../app/assets/stylesheets/reputation.scss */
.windows .btn-far {
  text-align: center;
}
/* line 291, ../../app/assets/stylesheets/reputation.scss */
.windows .btn-far button {
  margin: 0 8px;
}

/* line 295, ../../app/assets/stylesheets/reputation.scss */
.modal-delete {
  width: 241px;
}

/* line 296, ../../app/assets/stylesheets/reputation.scss */
.delete-con p {
  text-align: center;
  height: 48px;
  line-height: 60px;
}

/* line 297, ../../app/assets/stylesheets/reputation.scss */
.clo-btn button {
  width: 120px;
  height: 46px;
  text-align: center;
  line-height: 46px;
  border: 1px solid #eaeaea;
  background: #fff;
}

/* line 298, ../../app/assets/stylesheets/reputation.scss */
.clo-btn button.no-left {
  margin-left: -1px;
}

/* line 299, ../../app/assets/stylesheets/reputation.scss */
.postion-self {
  position: relative;
  margin-left: 40px;
}

/* line 300, ../../app/assets/stylesheets/reputation.scss */
.postion-self .pos-left {
  position: absolute;
  left: 21px;
  top: 14px;
}

/* line 301, ../../app/assets/stylesheets/reputation.scss */
.pad-right {
  padding-right: 6px;
}

/* line 302, ../../app/assets/stylesheets/reputation.scss */
.padding-contaion {
  padding-top: 20px;
}

/* line 303, ../../app/assets/stylesheets/reputation.scss */
a {
  color: #1fb5aa;
}

/* line 306, ../../app/assets/stylesheets/reputation.scss */
.additions {
  text-align: right;
  margin-bottom: 5px;
}

/* line 311, ../../app/assets/stylesheets/reputation.scss */
.mine_email label {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
/* line 315, ../../app/assets/stylesheets/reputation.scss */
.mine_email label a {
  margin-left: 10px;
}
/* line 318, ../../app/assets/stylesheets/reputation.scss */
.mine_email label input {
  width: 150px;
  height: 26px;
  line-height: 26px;
}
/* line 323, ../../app/assets/stylesheets/reputation.scss */
.mine_email label button {
  padding: 3px 10px;
  margin-left: 10px;
}

/* line 329, ../../app/assets/stylesheets/reputation.scss */
.information_select, .form-inline {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  border-bottom: 1px solid #DBDBDB;
}

/* line 338, ../../app/assets/stylesheets/reputation.scss */
.change_pos, .form-inline {
  display: inline;
  align-items: center;
  margin-bottom: 15px;
  border-bottom: none;
}

/* line 344, ../../app/assets/stylesheets/reputation.scss */
.info_search {
  padding: 2px 10px;
}

/* line 347, ../../app/assets/stylesheets/reputation.scss */
#sentiment-table-header {
  padding: 5px;
  background: #FBFBFB;
  border: 1px solid #ddd;
  border-width: 1px 1px 0 1px;
}

/*声誉报告-日志*/
/* line 358, ../../app/assets/stylesheets/reputation.scss */
.all_tab_wrap {
  height: 40px;
  line-height: 40px;
  background-color: #f8f8f8;
  border: 1px solid #e5e5e5;
  position: relative;
  margin: 0;
}

/* line 367, ../../app/assets/stylesheets/reputation.scss */
.all_tab_wrap ul {
  height: 40px;
  margin: 0px;
  position: absolute;
  top: -1px;
  left: 0px;
}

/* line 375, ../../app/assets/stylesheets/reputation.scss */
.all_tab_wrap ul li {
  display: inline-block;
  float: left;
  margin: 0px;
  border-right: 1px solid #e5e5e5;
  cursor: pointer;
}

/* line 383, ../../app/assets/stylesheets/reputation.scss */
.all_tab_wrap ul li.active {
  background-color: #fff;
  color: #ffb629;
  border-top: 2px solid #ffb629;
  line-height: 36px;
  height: 39px;
}

/* line 391, ../../app/assets/stylesheets/reputation.scss */
.nav-tabs .active {
  background-color: #fff;
  color: #ffb629;
  border-top: 2px solid #ffb629;
  line-height: 36px;
  height: 39px;
}

/* line 399, ../../app/assets/stylesheets/reputation.scss */
.date-input2 {
  width: 100px !important;
  display: inline-block;
  border: 1px solid #eee;
}

/* line 405, ../../app/assets/stylesheets/reputation.scss */
.input-sm {
  height: 25px;
  padding: 5px 10px;
  font-size: 12px;
}

/* line 411, ../../app/assets/stylesheets/reputation.scss */
.shengce_taba {
  width: 100%;
  line-height: 30px;
  text-align: center;
}

/* line 417, ../../app/assets/stylesheets/reputation.scss */
.shengce_taba th {
  background-color: #f8f8f8;
  text-align: center;
  font-weight: normal;
}

/* line 423, ../../app/assets/stylesheets/reputation.scss */
.shengce_taba th, .shengce_taba td {
  border: 1px solid #eee;
}

/* line 427, ../../app/assets/stylesheets/reputation.scss */
.shengce_dia {
  display: none;
  border: 1px solid #eee;
  border-top: 0;
  padding: 20px;
}

/* line 434, ../../app/assets/stylesheets/reputation.scss */
.shengce_dib {
  display: block;
}

/* line 438, ../../app/assets/stylesheets/reputation.scss */
.shengce_dic {
  margin: 10px;
}

/* line 442, ../../app/assets/stylesheets/reputation.scss */
.shengce_dic a {
  color: #000;
}

/* line 446, ../../app/assets/stylesheets/reputation.scss */
.shengce_did {
  position: relative;
  border: 1px solid #eee;
  padding: 20px;
  padding-top: 0;
}

/* line 453, ../../app/assets/stylesheets/reputation.scss */
.shengce_bua {
  border-radius: 5px;
  height: 25px;
  line-height: 6px;
  margin-left: 20px;
}

/*end*/
/* line 461, ../../app/assets/stylesheets/reputation.scss */
.shengbao_dib {
  width: 30px;
  height: 30px;
  background: #ffb629;
  background-image: url(/assets/riqi.png);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 5px 0 0 5px;
}

/* line 471, ../../app/assets/stylesheets/reputation.scss */
.shengbao_dic {
  background: #ffb629;
  color: #fff;
  border-left: 1px solid #fff;
  height: 30px;
  line-height: 30px;
  padding: 0 20px 0 10px;
  border-radius: 0 5px 5px 0;
}

/* line 481, ../../app/assets/stylesheets/reputation.scss */
.shengbao_dia, .shengbao_did {
  margin-bottom: 10px;
}

/* line 485, ../../app/assets/stylesheets/reputation.scss */
.shengbao_did {
  font-size: 12px;
  color: #fff;
  line-height: 30px;
  padding-left: 10px;
}

/* line 492, ../../app/assets/stylesheets/reputation.scss */
.shengbao_die {
  border: 1px solid #eee;
  margin: 20px 0;
  min-height: 200px;
}

/* line 498, ../../app/assets/stylesheets/reputation.scss */
.shengbao_pa {
  font-size: 15px;
  color: #5b5b5b;
  height: 40px;
  line-height: 40px;
  margin-bottom: 10px;
  background: #fbfbfb;
  border-bottom: 1px solid #eee;
  padding-left: 10px;
}

/* line 509, ../../app/assets/stylesheets/reputation.scss */
.shengbao_dif {
  min-height: 320px;
}

/* line 513, ../../app/assets/stylesheets/reputation.scss */
.shengbao_dig {
  padding: 20px;
}

/* line 517, ../../app/assets/stylesheets/reputation.scss */
.shengbao_pb {
  font-size: 13px;
  color: #fff;
  border-bottom: 0;
  line-height: 40px;
  padding-left: 10px;
  background: rgba(255, 255, 255, 0.1);
}

/* line 526, ../../app/assets/stylesheets/reputation.scss */
.shengbao_taba {
  width: 100%;
  line-height: 40px;
}

/* line 531, ../../app/assets/stylesheets/reputation.scss */
.shengbao_taba td {
  font-size: 12px;
  color: #5b5b5b;
  padding-left: 10px;
  border: 1px solid #e5e5e5;
}

/*reputation-home*/
/* line 539, ../../app/assets/stylesheets/reputation.scss */
.shzu_pa {
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  line-height: 60px;
}

/* line 546, ../../app/assets/stylesheets/reputation.scss */
.shzu_taba {
  width: 100%;
}

/* line 550, ../../app/assets/stylesheets/reputation.scss */
.shzu_taba tr {
  border: 1px solid #eee;
  border-left: 0;
  border-right: 0;
}

/* line 556, ../../app/assets/stylesheets/reputation.scss */
.shzu_taba tr:last-of-type {
  border-bottom: 0;
}

/* line 560, ../../app/assets/stylesheets/reputation.scss */
.shzu_taba td {
  font-size: 12px;
  color: #4cbeb6;
  padding: 5px;
}

/* line 566, ../../app/assets/stylesheets/reputation.scss */
.shzu_taba tr td:first-of-type {
  background-color: #fbfbfb;
}

/* line 570, ../../app/assets/stylesheets/reputation.scss */
.shzu_taba td img {
  width: 100px;
  margin-left: 20px;
}

/* line 575, ../../app/assets/stylesheets/reputation.scss */
.shzu_taba td img:first-of-type {
  margin-left: 0;
}

/* line 579, ../../app/assets/stylesheets/reputation.scss */
.shzu_lia {
  background-color: rgba(255, 255, 255, 0.1);
  padding-right: 20px;
  border-radius: 3px;
}

/* line 585, ../../app/assets/stylesheets/reputation.scss */
.reputation_top {
  height: 72px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  text-align: center;
  position: relative;
  line-height: 62px;
  font-size: 16px;
}
/* line 593, ../../app/assets/stylesheets/reputation.scss */
.reputation_top i {
  position: absolute;
  width: 94px;
  height: 62px;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  left: 0px;
  top: 50%;
  margin-top: -31px;
}
/* line 602, ../../app/assets/stylesheets/reputation.scss */
.reputation_top strong {
  font-size: 26px;
  font-weight: normal;
  margin: 0 5px;
}
/* line 607, ../../app/assets/stylesheets/reputation.scss */
.reputation_top i.icon_level {
  background: url(/assets/reputation/yujing.png) no-repeat center center;
}
/* line 610, ../../app/assets/stylesheets/reputation.scss */
.reputation_top i.icon_num {
  background: url(/assets/reputation/xinxiliang.png) no-repeat center center;
}

/* line 614, ../../app/assets/stylesheets/reputation.scss */
.shzu_diq {
  float: none;
  overflow: hidden;
}

/* line 618, ../../app/assets/stylesheets/reputation.scss */
.one-left {
  width: 484px;
  font-size: 14px;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
}
/* line 622, ../../app/assets/stylesheets/reputation.scss */
.one-left .reputation_top {
  margin-right: 20px;
}
/* line 624, ../../app/assets/stylesheets/reputation.scss */
.one-left .reputation_top strong {
  color: #0eabfa;
}

/* line 629, ../../app/assets/stylesheets/reputation.scss */
.one-right {
  width: 484px;
}
/* line 631, ../../app/assets/stylesheets/reputation.scss */
.one-right ul {
  margin-left: 20px;
}
/* line 634, ../../app/assets/stylesheets/reputation.scss */
.one-right .reputation_top {
  margin-left: 20px;
}

/* line 639, ../../app/assets/stylesheets/reputation.scss */
.shzu_diw {
  padding-top: 45px;
  width: 71px;
  margin: 0px 0 0 27px;
  position: relative;
}

/* line 646, ../../app/assets/stylesheets/reputation.scss */
.shzu_diw div {
  background: #E3E8EB;
  opacity: 0.2;
  width: 71px;
  height: 40px;
  position: absolute;
}

/* line 654, ../../app/assets/stylesheets/reputation.scss */
.shzu_diw p {
  font-size: 12px;
  padding: 0;
  color: #fff;
}

/* line 660, ../../app/assets/stylesheets/reputation.scss */
.shzu_pb {
  font-size: 12px;
  color: #929292;
  position: absolute;
  left: 190px;
  width: 100px;
}

/* line 668, ../../app/assets/stylesheets/reputation.scss */
.shzu_tabc a {
  color: #5b5b5b;
}

/*我的监测*/
/* line 674, ../../app/assets/stylesheets/reputation.scss */
.meche_diq {
  padding-top: 20px;
}

/* line 703, ../../app/assets/stylesheets/reputation.scss */
.meche_diw {
  min-height: 200px;
  padding: 10px;
  padding-top: 0;
}

/* line 739, ../../app/assets/stylesheets/reputation.scss */
.meche_spq {
  display: inline-block;
  width: 100px;
  vertical-align: top;
}

/* line 747, ../../app/assets/stylesheets/reputation.scss */
.meche_inq {
  width: 375px !important;
  display: inline-block;
}

/* line 769, ../../app/assets/stylesheets/reputation.scss */
.meche_dio {
  padding-top: 20px;
}

/* line 780, ../../app/assets/stylesheets/reputation.scss */
.meche_diy {
  width: 137px;
  margin: 0 auto;
}

/* line 785, ../../app/assets/stylesheets/reputation.scss */
.meche_buq {
  padding: 5px 15px;
}

/* line 794, ../../app/assets/stylesheets/reputation.scss */
.meche_buw {
  color: #666;
  background: #fbfbfb;
  padding: 5px 15px;
  margin-left: 20px;
}

/* line 807, ../../app/assets/stylesheets/reputation.scss */
.yutui_spa {
  display: inline-block;
  width: 110px;
  text-align: right;
}

/*声誉分析*/
/* line 814, ../../app/assets/stylesheets/reputation.scss */
.reputation_tab {
  margin: 0;
}

/* line 817, ../../app/assets/stylesheets/reputation.scss */
.reputation_tab_table_all .all_tab_wrap {
  border: none;
  border-bottom: 1px solid #e5e5e5;
}

/* line 821, ../../app/assets/stylesheets/reputation.scss */
.active_tab {
  color: #1fb5aa;
}

/* line 822, ../../app/assets/stylesheets/reputation.scss */
.btn-default:hover {
  color: #1fb5aa;
  background-color: initial;
}

/* line 826, ../../app/assets/stylesheets/reputation.scss */
.btn_style {
  width: 67px;
  border-radius: 5px;
  margin-left: 10px;
}

/* line 833, ../../app/assets/stylesheets/reputation.scss */
.definition_time {
  margin-left: 15px;
}

/* line 836, ../../app/assets/stylesheets/reputation.scss */
.definition_time_position {
  margin-left: 5px;
  margin-right: 5px;
}

/* line 840, ../../app/assets/stylesheets/reputation.scss */
.content {
  padding: 0px;
  width: 100%;
}
/* line 845, ../../app/assets/stylesheets/reputation.scss */
.content .panel-default .panel-heading {
  border: none;
  background-color: transparent;
}

/* line 852, ../../app/assets/stylesheets/reputation.scss */
.reputation_tab_table_all .panel-body {
  padding: 0;
}

/* line 857, ../../app/assets/stylesheets/reputation.scss */
.tab_content_style {
  margin-bottom: 60px;
}

/* line 868, ../../app/assets/stylesheets/reputation.scss */
.public-sentiment-item {
  background: rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  color: #fff;
  padding: 15px 0;
  margin-bottom: 20px;
  position: relative;
}

/* line 876, ../../app/assets/stylesheets/reputation.scss */
.public-sentiment-item:after {
  content: "";
  display: block;
  clear: both;
  height: 0px;
}

/* line 882, ../../app/assets/stylesheets/reputation.scss */
.public-sentiment-item-news {
  padding: 15px;
  border: 1px solid #ddd;
  box-shadow: 0 0 3px 0 #ddd;
  min-height: auto;
  border-radius: 10px;
  color: #5b5b5b;
  margin-bottom: 20px;
  position: relative;
}

/* line 892, ../../app/assets/stylesheets/reputation.scss */
.public-sentiment-div {
  display: inline-block;
}

/* line 896, ../../app/assets/stylesheets/reputation.scss */
.public-sentiment-div-info {
  width: 125px;
  padding: 0 20px 20px 10px;
  height: 200px;
  position: absolute;
  left: 20px;
}

/* line 903, ../../app/assets/stylesheets/reputation.scss */
.public-sentiment-div-png {
  height: 56px;
  width: 56px;
  display: inline-block;
  position: relative;
  margin-left: 18px;
  padding: 2px;
}

/* line 911, ../../app/assets/stylesheets/reputation.scss */
.public-sentiment-div-png > i {
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

/* line 921, ../../app/assets/stylesheets/reputation.scss */
.public-sentiment-div-png > img {
  display: inline-block;
  max-width: 50px;
  max-height: 50px;
}

/* line 926, ../../app/assets/stylesheets/reputation.scss */
.public-sentiment-div-info > p {
  font-size: 12px;
  line-height: 20px;
  text-align: center;
}

/* line 931, ../../app/assets/stylesheets/reputation.scss */
.public-sentiment-div-content {
  word-wrap: break-word;
  font-size: 12px;
  float: left;
  width: 695px;
}

/* line 937, ../../app/assets/stylesheets/reputation.scss */
.public-sentiment-div-content > p {
  line-height: 24px;
}

/* line 940, ../../app/assets/stylesheets/reputation.scss */
.public-sentiment-content-info {
  bottom: 0;
  margin-top: 15px;
}
/* line 943, ../../app/assets/stylesheets/reputation.scss */
.public-sentiment-content-info select {
  color: #333;
}

/* line 947, ../../app/assets/stylesheets/reputation.scss */
.weibo-content-info {
  line-height: 24px;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 10px 15px;
}

/* line 953, ../../app/assets/stylesheets/reputation.scss */
.weibo-content-info p > a {
  color: #ffffff;
}

/* line 956, ../../app/assets/stylesheets/reputation.scss */
.public-sentiment-div-content p a:hover, a:focus {
  color: #1fb5aa;
}

/* line 959, ../../app/assets/stylesheets/reputation.scss */
.weibo-content-info span {
  color: #ffffff;
}

/* line 962, ../../app/assets/stylesheets/reputation.scss */
.weibo-content-info .sentiment-color-blue {
  color: #fc9900;
}

/* line 965, ../../app/assets/stylesheets/reputation.scss */
.select-info-operate a:hover, a:focus {
  color: #ffb629;
}

/* line 968, ../../app/assets/stylesheets/reputation.scss */
.public-sentiment-div-content > p > a {
  color: #fff;
}

/* line 971, ../../app/assets/stylesheets/reputation.scss */
.sentiment-color-blue {
  color: #fc9900;
}

/* line 974, ../../app/assets/stylesheets/reputation.scss */
.public-sentiment-div-view {
  float: right;
  padding-right: 20px;
}

/* line 978, ../../app/assets/stylesheets/reputation.scss */
.public-sentiment-div-view > div {
  width: 120px;
  height: 25px;
  line-height: 25px;
  border-radius: 5px;
  background-color: #fff;
  margin: 5px 0;
}
/* line 985, ../../app/assets/stylesheets/reputation.scss */
.public-sentiment-div-view > div span {
  color: #838383;
  text-align: center;
  display: inline-block;
}
/* line 990, ../../app/assets/stylesheets/reputation.scss */
.public-sentiment-div-view > div span.public-sentiment-view-con {
  color: #fff;
  float: left;
  display: inline-block;
  width: 40%;
  height: 100%;
  text-align: center;
  background-color: #fc9900;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

/* line 1002, ../../app/assets/stylesheets/reputation.scss */
.weibo-content-right {
  margin-left: 125px;
}

/* line 1006, ../../app/assets/stylesheets/reputation.scss */
.search-sentiment {
  width: 76px;
  height: 24px;
}

/* line 1015, ../../app/assets/stylesheets/reputation.scss */
.content-padding-style {
  padding-top: 0px;
  padding-left: 0;
  padding-right: 0;
}

/* line 1021, ../../app/assets/stylesheets/reputation.scss */
.reputation-select-info {
  margin-bottom: 15px;
}

/* line 1024, ../../app/assets/stylesheets/reputation.scss */
.reputation-select-info > div {
  margin-top: 8px;
}

/* line 1028, ../../app/assets/stylesheets/reputation.scss */
.reputation_search label {
  width: 70px;
}

/* line 1032, ../../app/assets/stylesheets/reputation.scss */
.content_right_border_top {
  border-top: 1px solid #e5e5e5;
  padding-top: 0px;
}

/* line 1036, ../../app/assets/stylesheets/reputation.scss */
.breadcrumb_style {
  display: flex;
  border-left: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
  margin-left: 1px;
  margin-bottom: 0;
  padding-left: 20px;
}

/* line 1044, ../../app/assets/stylesheets/reputation.scss */
.breadcrumb_style li a {
  color: #333333;
}

/* line 1047, ../../app/assets/stylesheets/reputation.scss */
.select-info {
  height: 40px;
  padding-left: 0;
}

/* line 1051, ../../app/assets/stylesheets/reputation.scss */
.select-info-tittle {
  float: left;
}

/* line 1054, ../../app/assets/stylesheets/reputation.scss */
.select-info-operate {
  float: right;
  color: #fff;
}

/* line 1060, ../../app/assets/stylesheets/reputation.scss */
.select-info-operate a {
  margin: 0 10px;
}

/* line 1064, ../../app/assets/stylesheets/reputation.scss */
.select-checkbox {
  position: absolute;
  top: 2px;
  left: 6px;
}

/* line 1070, ../../app/assets/stylesheets/reputation.scss */
.cont_all {
  color: #1FB5AC;
  font-size: 16px;
  display: block;
  cursor: pointer;
}

/* line 1076, ../../app/assets/stylesheets/reputation.scss */
.weibo-content-img {
  width: 24px;
  height: 24px;
  float: left;
  margin-left: 8px;
  margin-top: 6px;
  z-index: 10;
}

/* line 1084, ../../app/assets/stylesheets/reputation.scss */
.weibo-content-repost {
  background: url("/assets/img/zhuanfa.png") no-repeat;
}

/* line 1087, ../../app/assets/stylesheets/reputation.scss */
.weibo-content-comment {
  background: url("/assets/img/pinglun.png") no-repeat;
}

/* line 1090, ../../app/assets/stylesheets/reputation.scss */
.weibo-content-like {
  background: url("/assets/img/xihuan.png") no-repeat;
}

/* line 1093, ../../app/assets/stylesheets/reputation.scss */
.weibo-content-friends {
  background: url("/assets/img/fensi.png") no-repeat;
}

/* line 1096, ../../app/assets/stylesheets/reputation.scss */
.weibo-content-view {
  background: url("/assets/img/view.png") no-repeat;
}

/* line 1099, ../../app/assets/stylesheets/reputation.scss */
.empty-star {
  background: url("/assets/img/star1.png") no-repeat;
  cursor: pointer;
}

/* line 1103, ../../app/assets/stylesheets/reputation.scss */
.full-star {
  background: url("/assets/img/star2.png") no-repeat;
  cursor: pointer;
}

/* line 1109, ../../app/assets/stylesheets/reputation.scss */
label button.btn-fujia {
  padding: 3px 20px;
  border-radius: 5px;
}

/* line 1114, ../../app/assets/stylesheets/reputation.scss */
.sel-fujia {
  width: 65px;
  border: 1px solid #ccc;
}

/* line 1119, ../../app/assets/stylesheets/reputation.scss */
.form-group-wrapper {
  margin-bottom: 15px;
}

/* line 1123, ../../app/assets/stylesheets/reputation.scss */
.from-group-keyword {
  float: right;
}

/* line 1127, ../../app/assets/stylesheets/reputation.scss */
.fornm-container {
  margin-left: 0;
  align-items: inherit;
  margin-bottom: 0;
}

/* line 1133, ../../app/assets/stylesheets/reputation.scss */
.split3 {
  width: 33%;
}

/* line 1136, ../../app/assets/stylesheets/reputation.scss */
.p_page {
  text-align: center;
  margin: 0px;
  color: #7d7d7d;
}
/* line 1140, ../../app/assets/stylesheets/reputation.scss */
.p_page a, .p_page .current {
  border-radius: 3px;
  padding: 6px 9px;
  height: 28px;
}
/* line 1145, ../../app/assets/stylesheets/reputation.scss */
.p_page .current {
  background-color: #3fbcff;
  color: #fff;
}

/* line 1150, ../../app/assets/stylesheets/reputation.scss */
.box_border {
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: rgba(255, 255, 255, 0.1);
}

/* line 1155, ../../app/assets/stylesheets/reputation.scss */
.weixin {
  background: url(/assets/img/weixin.png) no-repeat;
}

/* line 1158, ../../app/assets/stylesheets/reputation.scss */
.tieba {
  background: url(/assets/img/tieba.png) no-repeat;
}

/* line 1161, ../../app/assets/stylesheets/reputation.scss */
.news {
  background: url(/assets/img/news.png) no-repeat;
}

/* line 1164, ../../app/assets/stylesheets/reputation.scss */
.tianya {
  background: url(/assets/img/tianya.png) no-repeat;
}

/* line 1167, ../../app/assets/stylesheets/reputation.scss */
.douban {
  background: url(/assets/img/douban.png) no-repeat;
}

/* line 1170, ../../app/assets/stylesheets/reputation.scss */
.mop {
  background: url(/assets/img/mop.png) no-repeat;
}

/* line 1173, ../../app/assets/stylesheets/reputation.scss */
.xinenshi {
  background: url(/assets/img/xinenshi.png) no-repeat;
}

/* line 1176, ../../app/assets/stylesheets/reputation.scss */
.hbjs {
  background: url(/assets/img/hbjs.png) no-repeat;
}

/* line 1179, ../../app/assets/stylesheets/reputation.scss */
.bi_an {
  background: url(/assets/img/bi_an_newicon.png) no-repeat;
}

/* line 1182, ../../app/assets/stylesheets/reputation.scss */
.wangyinews {
  background: url(/assets/img/wangyinews.png) no-repeat;
}

/* line 1185, ../../app/assets/stylesheets/reputation.scss */
.tit_color {
  color: #f36b5f;
}

/* line 1188, ../../app/assets/stylesheets/reputation.scss */
.table_50_width td {
  width: 50%;
}
